@use "sass:map";
@import "./src/styles/pages/theme.scss";
@import "./src/styles/pages/all.scss";





.create_category {
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
}
.checkout_input1 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 11px;
    gap: 20px;


    input, textarea {
        margin: 10px 0;
    }
    select {
        width: 540px;
        padding: 6px;
        margin: 10px 0;
        height: 35px;
        border: 1px solid #ebebeb;
        padding-left: 10px;
        font-size: 14px;
        color: #b2b2b2;
        border-radius: 3px;
    }
    .required {
        color: red;
    }
}


