@use "sass:map";
@import "./src/styles/pages/theme.scss";
@import "./src/styles/pages/all.scss";

.sidebar {
    width: 250px;
    height: 100vh;
    background: #f8f9fa; // Đổi nền thành trắng
    color: #333; // Đổi màu chữ thành tối
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); // Thêm bóng để tạo chiều sâu

    &.open {
        left: 0;
    }

    .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); // Đổi màu viền mờ hơn

        .menu-icon {
            font-size: 24px;
            cursor: pointer;
            color: #333; // Đảm bảo icon dễ nhìn trên nền trắng
        }
    }

    .sidebar-menu {
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        margin-left: 10px;
        gap: 15px;

        .sidebar-title {
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            background: linear-gradient(135deg, #794e88, #414c62); 
            padding: 12px 0;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        
        

        .menu-item {
            display: flex;
            align-items: center;
            padding: 12px 15px;
            color: #333; // Đổi màu chữ thành tối
            text-decoration: none;
            font-size: 16px;
            border-radius: 8px;
            transition: background 0.3s, transform 0.2s;
            gap: 10px;
            justify-self: center;

            &:hover {
                background: rgba(0, 0, 0, 0.05); // Màu xám nhạt khi hover
                transform: translateX(5px); // Hiệu ứng di chuyển nhẹ
            }
            &--active {
                background: #3182ce14;
                color: map.get($theme-colors, "main");
            }

            .icon {
                margin-right: 10px;
                font-size: 20px;
                color: #666; // Màu icon trung tính
                
            }
        }
    }
}
