@use "sass:map";
@import "./src/styles/pages/theme.scss";


.footer {

    background:#F3F6FA;
    padding: 70px;
    padding-bottom: 0;
    .footer_about {
        margin-bottom: 30px;
        margin-right: 20px;
        color: map.get($theme-colors, "main");
    }

    .footer_about_logo {
        margin-bottom: 15px;
        display: inline-block;
        min-width: max-content;

        
    }

    ul li {
        font-size: 16px;
        color: map.get($theme-colors, "normal-text");
        line-height: 36px;
        list-style: none;
    }

    .footer_widget {
        margin-bottom: 30px;
        overflow: hidden;

        h6 {
            color: map.get($theme-colors, "normal-text");
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
        }

        ul {
            float: left;
            width: 50%; // Chia đôi nội dung mỗi bên 50%

            li {
                list-style: none;

                a {
                    color: map.get($theme-colors, "normal-text");
                    font-size: 14px;
                    line-height: 32px;
                    text-decoration: none;
                }
            }
        }

        p {
            font-size: 14px;
            color: map.get($theme-colors, "normal-text");
            margin-bottom: 30px;
        }
        
        form {
            margin-bottom: 30px;
            

            .input-group {
                display: flex;
                align-items: center;
                column-gap: 2px;
                input {
                    width: 100%;
                    font-size: 16px;
                    padding-left: 20px;
                    color: map.get($theme-colors, "normal-text");
                    height: 46px;
                    border: 1px solid #ededed;
    
                    ::placeholder {
                        color: map.get($theme-colors, "normal-text");
                    }
                }
                button {
                    padding: 0 26px;
                    height: 46px;
                    min-width: max-content;
                }
            }
        }
    }
    .footer_widget_social {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 30px;

        div {
            :hover {
                background: map.get($theme-colors, "main");
                color: #ffffff;
                border-color: #ffffff;
            }

            svg {
                font-size: 20px;
                padding: 10px;
                color: #404040;
                border: 1px solid#ededed;
                border-radius: 50%;
                transition: all, 0.3s;
                background: #ffffff;
            }

        }
    }
    .footer-inner{
        display: flex;
        padding: 14px 24px;
        justify-content: space-between;
        background-color: #414c62;
        color: #ffffff;
    }
    .footer-home {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.footer-home:hover { text-decoration: none; color: #b1c6d4;}
}
