@use "sass:map";
@import "./src/styles/pages/theme.scss";
@import "./src/styles/pages/all.scss";

.product_details_pic {
    display: flex;
    column-gap: 10px;

    img {
        flex: 0 0 50%;
        object-fit: cover; // cho hình đẹp 1 tý
        width: 380px;
    }

    .product_details_picture {
        position: relative;
    }

    .main {
        flex: 0 0 35%;
        display: grid; // Cho ảnh dọc xuống
        align-items: stretch;

        img {
            width: 60%;
            object-fit: cover;

            &:not(:first-child) {
                padding-top: 5px;
            }
        }
    }
}
.product_details_text {
    h2 {
        color: #252525;
        font-weight: 700;
    }

    .seen_icon {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 30px;
        column-gap: 5px;
    }

    p {
        margin: 10px  0;
        line-height: 25px; // Độ giãn của chữ
    }
    
    ul {
        margin: -70px 5px;
        border-top: 1px solid #eee; // Thêm 1 đường border ngang
        padding-top: 20px;
        margin-top: 30px;

        li {
            list-style: none;
            display: flex;
            column-gap: 20px;
            line-height: 35px;

            b {
                width: 150px;
            }

            span {
                display: flex;
                column-gap: 10px;
                align-items: center;

                svg {
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}

.product_details_tab {
    margin: 20px 20px;
    margin-top: 90px;
    
    p{
        line-height: 25px;
    }

    h4 {
        text-align: center;
        position: relative;
        margin-bottom: 20px;

        // Thanh kẻ trước và sau "Thông tin chi tiết"
        &::after {
            position: absolute;
            right: 0;
            top: 12px;
            height: 1px;
            width: 43%;
            background: #ebebeb;
            content: "";

            
        }

        &::before {
            position: absolute;
            left: 0;
            top: 12px;
            height: 1px;
            width: 43%;
            background: #ebebeb;
            content: "";
        }

        &::after, &::before {
            @include Responsive($DESKTOP){
                width: 42%;
            }
            @include Responsive($MEDIUM_DEVICE){
                width: 40%;
            }
            @include Responsive($TABLET_DEVICE){
                width: 38%;
            }
            @include Responsive($WIDE_MOBILE){
                width: 30%;
            }
            @include Responsive($SMALL_DEVICES){
                width: 27%;
            }
        }
    }
}